<!-- tidy this whole file when finished -->

<%= stylesheet_link_tag "new" %>
<%= javascript_include_tag "http://www.gerardolarios.com/plugins-and-tools/jqmeter/js/jqmeter.min.js" %>
<!-- get the fields that the user wishes to populate -->
<% chosen_fields = params['chosen_fields'] %>
<%= chosen_fields_as_array = chosen_fields.gsub(/\s+/m, ' ').strip.split(" ") %>
<script>
// var skiptheweekfield = <%= @user.skiptheweekfield %>;
 //alert("-> " + skiptheweekfield);

  var skipTheWeekField = '<%= @user.skiptheweekfield %>';
  //alert("-> " + skipTheWeekField);
</script>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 id="progressbarMoney_in"></h1>
<div id="myProgress" class="row">
	<div id="myBar" class="col-xs-1" style="background-color: #019875;"> </div>
	<div id="myBar2" class="col-xs-1"> </div>
  <!-- <div id="barEnd" class="col-md-1" style="background-color: #EF4836; float: right; padding: 20px;"> -->
	<!-- <div class="col-md-1 halfCircleRight"></div> -->

	<!-- <div id="barEndText" class="col-md-10"></div>
  </div> -->
  <div class="circlediv" style="max-height: 100%;">
  	<div id="circledivText" class="col-xs-11 col-xs-push-1"></div>
  </div>
</div>  

<div id="wheelContainer"><br><br><br><br>
  <div id="genieQuickButtons" class="ttsOnHover">
    <div class="ttsElem ttsE1">Skip this Question</div>
    <div class="ttsElem ttsE2" onclick="$('#weekNumberHelpAnswer').css('display', 'block');">Help me with this Question</div>
  </div>
  <div id="weekNumberHelpAnswer" class="ttsOnHover col-xs-12">
    <div class="ttsElem ttsE1 weekNumberHelpAnswerBtn1 col-xs-5">This week</div>
    <div class="ttsElem ttsE2 weekNumberHelpAnswerBtn2 col-xs-5 col-xs-push-1">Next week</div>
  </div>
  <div class="weekNumHelper weekNumHelper1"><p>Click this button to skip this question
    <span class="glyphicon glyphicon-remove ignoreThisElem newLineGlyph"> </span>
  </p>
  </div>
  <div class="weekNumHelper weekNumHelper2"><p>Or if you want to answer it, click this button
    <span class="glyphicon glyphicon-ok ignoreThisElem newLineGlyph"> </span>
  </p>
  <div id="weekHelperBtns">
    <div id="weekHelperBtn1" class="col-sm-4 ignoreThisElem">What is this question?</div>
      <h3 id="typingText"></h3>
      <div id="weekHelperBtn2" class="col-sm-4 visHidden ignoreThisElem">Help me with this question</div>
    <div id="weekHelperBtn3" class="col-sm-4 ignoreThisElem">What is a week number?</div>
  </div>
  <span id="closeHelperBtn" class="glyphicon glyphicon-remove ignoreThisElem"></span>
  <span id="closeHelperBtnLeft" class="glyphicon glyphicon-remove ignoreThisElem"></span>
  </div>
<div>
  <h1 id="title">Name of Budget</h1>
  <%= image_tag "blank", id: "titleImg_category" %>
</div>
<%= image_tag "nextCategoryArrowGif", class: "nextCategoryArrow hidden" %>
<div id="wheelCycleBtn" class="col-sm-1 hidden"><%= image_tag "rotate", class: "rotateImg img img-responsive" %></div>
<div id="spinWheel" class="spinWheel cursor" >
    <div class="first"><input id="currentField1" type="text" class="rq-form-element"><i></i></div>
    <div class="second blurWheelItem"><input id="currentField3" type="text" ></div>
    <div class="third blurWheelItem"><input id="currentField2" type="text" ></div>
</div>
</div>
<div id="categoriesDock" class="hidden">
<ul class="dock">
  <%= image_tag "geniePoint", id: "genieCategoryShow" %>
  <% firstCat = chosen_fields_as_array[-1] %>
  <%= image_tag firstCat.downcase, id: "currentCat" %>
  <!-- set to js var to acces in js file -->
  <script type="text/javascript">
      var categoryArray = <%= raw chosen_fields_as_array %>;
  </script>
  <!-- all but last elem in array -->
  <% chosen_fields_as_array[0...-1].each do |cat| %>
    <li>
    <div title="<%= cat.downcase %>">
     <%= image_tag cat.downcase, class: "#{cat.downcase}_categoryImg catImg" %> 
    </div>
  </li>
  <% end %>
</ul>

</div>
<%# button_tag "Next", onclick: 'spinWheel();'%>



<div class="recievedParams" style="margin-top: 200px; display: none;"><%= chosen_fields %></div>

<!-- count number of items revieved -->
<div class="hidden numParams">
	<% if chosen_fields %>
		<%= chosen_fields.split.size %>
	<% end %>
</div>

<%= javascript_include_tag "new" %>

<%= render 'form' %>

<style type="text/css">
  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
</style>
<%# link_to 'Back', budgets_path %>

<%= render 'shared/assistant',
    :taskMode => false,
    :missedClickMode => false,
    :taskElems =>  ['spinWheel'],
    :pageIntroduce => ['#title',
                        '#spinWheel div',
                        "This tells you what you have to type",
                        "And then..... put the answer in here",
                        true] %>

          