<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<div id="chartdiv">dfdfd</div>

<style>
#chartdiv {
  width: 100%;
  height: 85%;
  margin-top: 10px;
}
g image {
    transform: scale(2);
}

  blockquote{
    border-left:none
}
.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);   
}
.quote-box{
  overflow: hidden;
  border-radius: 17px;
  background-color: #4ADFCC;
  margin-top: -75px;
  margin-left: 60px;
  margin-bottom: 10%;
  color:white;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
  padding-bottom: 25px;
  max-height: 65%;
}

.quotation-mark{
  text-align: center;
    height: 150px;
    font-weight: bold;
    font-size:40px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
}

.quote-text{
    margin-top: 0px;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.on_the_spot_editing form{
  font-size: 0.3em;
  color: black;
  background-color: red;
}
.on_the_spot_editing button{
  position: absolute;
}
.editCatItemBtnOk {
    right: 5%;
    bottom: 7%;
}
.editCatItemBtnCancel {
    left: 5%;
    bottom: 7%;
}
/* items with no value */
.itsBlank{background-color: #ff6060; opacity: 0.5;}
.itsBlank:hover{background-color: #46c4b4; opacity: 0.7;}

.budgetDetails{
  position: absolute;
  float: left;
  text-align: center;
}
.budgetDetails h4{
  font-weight: 600;
}
#money_i_have, #weekNum{
  background-color: #7b69eb;
  border-radius: 5px;
  color: white;
  font-size: 1.3em;
      top: 30%;
    left: 15px;
}
#weekNum{
  background-color: #79aafc;
  margin-top: 100px;
}

#categoryEditBubble {
    background-color: orange;
    color: black;
    z-index: 999;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 27pt;
    font-weight: bold;
    position: absolute;
    /* left: 37%; */
    top: 0;
}
.budgetShowImg{
  position: absolute;
  top: 20%;
  right: 39%;
  margin: 10;
}
.activeCard{
  position: absolute;
  right: 2%;
  top: 150%;
  z-index: 90;
}
.animatedStars{
  position: absolute;
  top: 10%;
  right: 8%;
  transform: rotate(42deg);
  z-index: 0;
}
.quote-text span input {
    text-align: center;
    color: #7b69eb !important;
    width: 75% !important;
    border-radius: 50px;
    border-color: orange;
    padding: 17px;
}
.on_the_spot_editing form {
    font-size: 1.5em;
    background-color: #7b69eb;
}
::selection {
  background: orange; /* WebKit/Blink Browsers */
}
.amcharts-chart-div a {
    display: none !important;
}
</style>
<p id="notice"><%= notice %></p>


<!-- excludes nil columns (will exclude created_and other defaults too ) And excludes money_i_have, week  --> 
<!-- <div class="col-md-2" style="background-color: orange;">
  <h5 id="weekNum">This budget is for week: 3</h5>
  <h5>Money I have to spend on this budget: €188</h5>
</div> -->
<div class="col-md-10 col-md-push-2">
   <%# pie_chart @budget.dup.attributes.keep_if{|k,v| 
        !v.nil? && !(k ==  "money_i_have" || k ==  "week" || k ==  "user_id" ) },
        width: "800px",
        height: "400px",
        legend: "bottom" %>
</div>
<div id="editCategoryCards">
  <% @num_columns.times do |budget| %>
  <% col_name = comebacktonameme[budget] %>
    <% col_name %>
    <% if col_name == 'money_i_have' %>
      <div id="money_i_have" class="col-md-2 budgetDetails">
        <%= auto_tts('Money spent on this budget: ') %>
        <h4>€<%= @budget.public_send(col_name) if @budget.respond_to? col_name  %></h4>
      </div>
      <% elsif col_name == 'week' %>
  <!--     <div id="weekNum" class="col-md-2 budgetDetails">
        This budget is for week: 
        <h4><%= @budget.public_send(col_name) if @budget.respond_to? col_name  %></h4>  
      </div> -->
      <% else %>
      <% otherval = @budget.public_send(col_name) if @budget.respond_to? col_name  %>

     
      <% unless [nil, 0].include?(otherval) %>
        <!-- check which ones are not filled in to give it a different css class -->
        <% is_blank =  otherval < 1 ? 'itsBlank' :  'notBlank'  %> 
        <!-- render the partial and pass it parameters (column name and its value) -->
        <%= render 'shared/budget_item',
                :val1 =>  col_name,
                :val2 =>  otherval,
                :val3 =>  is_blank %>
      <% end %>
    <% end %>
  <% end %>
</div>  




<%# link_to 'Edit all at the same time', edit_budget_path(@budget) %> 
<% link_to 'Back', budgets_path %>


<div style="display: none;">
  <div id="categoryEditBubble">Type the new number for <cat>bills</cat> now</div>
</div> 

<%= image_tag "animatedStars", class: "hidden animatedStars" %>

<script>

</script>

<%= javascript_include_tag "showBudget" %>