<%= stylesheet_link_tag "videos" %>
<h1 id="title">Videos</h1>
<div class="container">
  <div class="row mar-top-30">
    <% @videos.each do |video| %>
    <!-- video item -->
      <div class="col-sm-6">
          <div id="testBox" class="box text-center">
            <div class="video hidden">
              <iframe src="<%= video.link %>?version=3&enablejsapi=1" class="testVidClass" heightframeborder="0" allowfullscreen></iframe>
            </div>
            <div class="videoDescCard">
                <div class="incon-box">
                    <i class="fa <%= video.icon %>" aria-hidden="true"></i>
                </div>
                <h3 class="box-tittle"><%= video.title %> </h3>
                <p class="box-text"><%= video.description %></p>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
<% link_to 'New Video', new_video_path %>

<script>
   $(document).ready( function() {
    //click on the video div to show video(iframe)
    $('.box').on('click', function(){
    $(this).closest('div').children(".video").toggleClass('hidden');
   });
});
</script>

