  <blockquote class="quote-box col-md-3 <%= val3 %> <%= val1 %>_card">

      <p class="quotation-mark"><%= val1 %></p>
      <hr>
      <p class="quote-text ">€<%= on_the_spot_edit @budget, :"#{val1}" %></p>

      
     <!--  <div class="blog-post-actions">
        <button id="" class="btn btn-sm btn-primary blog-post-bottom pull-left">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; Change This
        </button>
        <button class="btn btn-sm btn-primary blog-post-bottom pull-right">
          <i class="fa fa-trash-o" aria-hidden="true"></i> &nbsp; Delete
        </button>
      </div> -->
      <%= image_tag "#{val1}", class: "budgetShowImg" %>
    </blockquote>