<%= stylesheet_link_tag "profile" %>

<% if !user_signed_in? %>
	You are not Logged in yet. <br><br>
	<%= link_to('Login here', new_user_session_path)  %>  
<% else %>
	 <h1 class="profile_header">Your Profile</h1> 
<% end %>

<% @users_budgets.each do |o| %>
	<!-- <div style="border: 1px solid black"><%= o.title %></div>-->
<% end  %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-push-1 col-md-push-2">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-5 col-sm-4 ">
                        <%=image_tag (@user.profileimage), class: "img-rounded img-responsive" if @user.profileimage? %>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="profile_name col-sm-8"><%= @user.first_name %> <%= @user.last_name %></h4> 
                        <%= button_tag "Change This", id: "chnageThisBtn", class: "profile_updateBtn btn btn-primary btn-responsive col-sm-4" %>
                        <br/>
                        <br/>
                        	<%= link_to edit_user_registration_path do %>
                        	  <%# button_tag "Change This", id: "chnageThisBtn", class: "profile_updateBtn btn btn-primary btn-responsive col-sm-4" %> 
                              <%# button_tag "Change That", id: "chnageThatBtn", class: "profile_updateBtn btn btn-primary btn-responsive col-sm-4" %>
                        	<% end %>
                        	<div class="profileDetails col-sm-12">
                        		 <i class="glyphicon glyphicon-globe"></i> Your Email: <text> <%= @user.email %> </text>
	                            <br />
	                            <i class="glyphicon glyphicon-time"></i> You joined 
	                            <text><%= time_ago_in_words(@user.created_at) %></text> ago
	                            <br />
	                            <i class="glyphicon glyphicon-gift"></i> You signed in <text><%= @user.sign_in_count %> </text> times
                                <br /><br />
                                 <i class="glyphicon glyphicon-flash yellowFont"></i>
                                    <%= link_to "Enable fast login", user_enable_authy_path, class: "redFont ul" %>
                                 <i class="glyphicon glyphicon-flash yellowFont"></i>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
	<div class="row" style="margin-left: 50px;">
        <div class="col-sm-4 col-sm-pull-2 col-md-pull-0">
            <button id="myBudgetsBtn" class="myBudgetsBtn btn btn-default orange-circle-button" href="">My<br />Budgets<br /></button>
            <div id="myBudgetsContainer">
                <div class="row" id="myBudgetsInfoBox" >
                    <h1 class="purpleFont col-sm-8">Your Budgets</h1>
                    <button id="myBudgetsHideBtn" class="col-xs-4 col-xs-push-4 col-sm-3 col-sm-push-0 myBudgetsHideBtn">Hide This</button>
                </div> 
                <div class="myBudgets">
                    <% @budgets.each_with_index do |budget, index| %>
                    <h2> <%= link_to "(#{(index + 1)}) " + budget.title, budget_path(budget) %> </h2> <br>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-push-4 pushDown40">
            <button id="myGamesBtn" class="btn btn-default orange-circle-button" href="">My<br />Games / Modules<br /></button> 
        </div>
	</div>
</div>

<%= javascript_include_tag "profile" %>
<!-- Nessesary elements to copmplete page task (in order of usage) -->
<%= render 'shared/assistant', 
    :taskMode => true,
    :missedClickMode => false,
    :taskElems =>  ['myGamesBtn','booButton', 'myBudgetsBtn' ],
    :pageIntroduce => false %>

<style type="text/css">
    /* There is no task on this page s*/
    #pageIntroduceBtn{visibility: hidden;}
</style>