<html>
	<head>
	<title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + "My Money Counts" %></title>
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<meta name="description" content="My Money Counts - eLearning">
	  	<meta charset="utf-8">
	  	<%= csrf_meta_tags %>
	  	
  		<%= javascript_include_tag "jquery-3.3.1.min" %> <!-- Change this!  -->
  		<%= javascript_include_tag "jquery-ui.min" %> <!-- Change this!  -->
  		
  		<%=javascript_include_tag "https://code.responsivevoice.org/responsivevoice.js" %>
  		
	  	<!-- bootstrap css  -->
	  	<%= stylesheet_link_tag "bootstrap2.min.css" %>
	  	<!-- font awsome -->
	  	<%= stylesheet_link_tag "font-awesome.min.css" %>
	    <!-- application css -->
	  	<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
	  	<!-- Additional files -->
	    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic", rel: "stylesheet", type: "text/css" %>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,300,700", rel: "stylesheet", type: "text/css" %> 
		<!-- application js -->
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<!-- Bootstrap js -->
  		<%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous" %>
  		<!-- charts on show  -->
  		<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js", 
  			"data-turbolinks-track" => true %>
  		<%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  		<%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>
	</head>
	<body style="padding-top: 160px">
		<%= render 'pages/header' %>
		<div id="testingSizes">
			<h4 class="visible-lg"> large </h4>
			<h4 class="visible-md"> medium </h4>
			<h4 class="visible-sm"> small </h4>
			<h4 class="visible-xs"> x small </h4>	
		</div>
		
		<div>
			<%= yield %>
		</div>
	</body>
</html>
